header {
    float:center;
    width: 225px;
    height: auto;
    padding: 10px;
    margin-right: 10px;
    font-family: "copperplate";
}

body {
    background-color: gray;
    height: 100%;
    min-height: 100%;
    
}

#quote-body {
    position: relative;
    left: 200px;
    top: -550; 
    max-width: 700px;
    margin: 10%;
    margin-top: 0;
    width: 60%;
    padding-bottom: 40px;

}

button{
    background-color: salmon;
    width:200px;
    height: 50px;
    font-family: "";
    font-weight: bold;
}
ul{
    list-style: none;
}

#quote-type {
    overflow: scroll;
    height: 500px;
    width: 215px;
}

p {
    background-color: lightblue;
    font-family: "copperplate", fantasy;
    font-size: large;
}

h2 {
    
    font-family: "Lucida Handwriting", cursive ;
}
img{
    width: 200px;
    height: auto;
}

#image {
    float: right;
  position: relative;
  margin-top: -600px;

}